In [21]:
import psycopg2
import sys
from datetime import datetime
from datetime import timedelta
from datetime import date
import random
import numpy as np

In [22]:
now = datetime.now().date()
arrivals = ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '23:00', '22:00']

Crud

In [5]:
con = None

try:
    con = psycopg2.connect("host = 'localhost' dbname='postgres' user = 'postgres'  password = 'postgres'")
    cur = con.cursor()
#     cur.execute("CREATE TABLE Persons(Username varchar(40), Name varchar(40), Surame varchar(40),Password varchar(40), Date_of_Birth varchar(40), Days_of_Reservation integer)")
#     cur.execute("CREATE TABLE Room(Id_Room integer, Location varchar(40), Available_From_Date varchar(40),Available_Till_Date varchar(40), Area integer, Price integer, People_Capacity integer, Plus_Person_Price integer, Arrival_Time varchar(40), Single integer, Sofa integer, Double_Bed integer, King_Size integer, Pets boolean, Smoking boolean, Events boolean, Minimum_Days integer, Air_Condition boolean, Heating boolean, WiFi boolean, TV boolean, Elevator boolean, Parking boolean, Oving boolean)")
#     cur.execute("INSERT INTO Persons VALUES('than', 'thanasis', 'Kar', 5, 'thanos', '01/07/1988')")
#     cur.execute("DROP TABLE Persons")
#     cur.execute("DROP TABLE Room")
    con.commit()
except psycopg2.DatabaseError, e:
    if con:
        con.rollback()
        
    print 'Error %s' %e
    sys.exit(1)
    
# finally:
#     if con:
#         con.close()

Database Selects

In [ ]:
cur = con.cursor()
# cur.execute("""SELECT * from Persons""")
cur.execute("""SELECT * from Room""")

rows = cur.fetchall()
print "\nRows: \n"
for row in rows:
    print row

Create Rules

In [ ]:
Id_Room
Location 
Available_From_Date 
Available_Till_Date 
Area 
Price 
People_Capacity 
Plus_Person_Price 
Arrival_Time
Single Sofa, Double_Bed, King_Size, 
Pets Smoking, Events Minimum_Days, Air_Condition, Heating, WiFi, TV, Elevator, Parking, Oven

In [30]:
#pinakas Rules
n = 60     #arithmos eggrafwn

for j in range(1,n):
    room = []
    # Available_From_Date, Available_Till_Date
    
    diff = timedelta(days=random.randint(1, 30))
    diff2 = timedelta(days=random.randint(1, 100))

    from_date = now + diff
    till_date = from_date + diff2
    room.append(str(from_date))
    room.append(str(till_date))
    
    # Area
    
    if j%46 != 0:
        area = np.random.randint(20, 100)
    elif j%100 == 2:
        area = " "
    else:
        area = 0
    room.append(area)
    
    # Price
    
    if j%46 != 0:
        price = np.random.randint(0, 500)
    elif j%10 == 2:
        price = " "
    else:
        price = 10000
    room.append(price)
    
    # People_Capacity
    if j%46 != 0:
        capacity = np.random.randint(0, 10)
    elif j%100 == 2:
        capacity = " "
    else:
        capacity = 100
    room.append(capacity)
    
    
    # Plus_Person_Price
    
    if j%46 != 0:
        plus_price = np.random.randint(0, 500)
    elif j%10 == 2:
        plus_price = " "
    else:
        plus_price = 10000
    room.append(plus_price)
    
    # Arrival_Time
    
    arrival_time = arrivals[random.randint(0, len(arrivals) - 1)]
    room.append(str(arrival_time))
    # Beds
    
    for i in range(1,5):        #gia ta bed types
        if i%200 != 0:
            beds = np.random.binomial(n=1, p= 0.5)
        elif i%26 == 0:
            beds = " "
        else:
            beds = '20'
        room.append(beds)
    
    
    # Rules
    
    for i in range(1,4):        #gia ta Pets, Smoking, Events
        if i%200 != 0:
            pse = np.random.binomial(n=1, p= 0.5)
        elif i%26 == 0:
            pse =' '
        else:
            pse = '2'
        room.append(pse)
    min_days= np.random.randint(0, 11)      #gia to Minimum_Days
    room.append(min_days)
    
    for i in range(1,8):      
        if i%200 != 0:
            facilities = np.random.binomial(n=1, p= 0.5)
        elif i%26 == 0:
            facilities = ' '
        else:
            facilities = '2'
    room.append(facilities)
    
    print room
    
    #cur.execute("INSERT INTO Persons VALUES('than', 'thanasis', 'Kar', 5, 'thanos', '01/07/1988')")

['2018-03-30', '2018-06-18', 50, 490, 4, 429, '23:00', 0, 0, 0, 0, 0, 1, 1, 7, 0]
['2018-03-26', '2018-06-23', 92, 355, 6, 326, '11:00', 1, 0, 0, 1, 1, 0, 1, 3, 1]
['2018-04-13', '2018-05-17', 50, 325, 0, 51, '16:00', 1, 0, 0, 1, 1, 0, 1, 0, 1]
['2018-04-02', '2018-06-26', 68, 317, 0, 409, '13:00', 0, 1, 1, 1, 0, 0, 1, 6, 0]
['2018-04-05', '2018-06-29', 25, 412, 5, 324, '15:00', 1, 0, 1, 1, 1, 1, 1, 9, 1]
['2018-03-22', '2018-06-01', 91, 24, 5, 491, '23:00', 0, 0, 1, 1, 0, 1, 0, 8, 0]
['2018-04-04', '2018-04-09', 33, 329, 8, 147, '12:00', 1, 1, 0, 1, 0, 0, 1, 3, 1]
['2018-03-19', '2018-04-02', 25, 19, 3, 366, '11:00', 1, 0, 1, 0, 0, 0, 0, 9, 1]
['2018-03-29', '2018-05-15', 66, 266, 0, 183, '22:00', 1, 1, 0, 0, 0, 0, 1, 10, 0]
['2018-04-03', '2018-07-09', 36, 348, 4, 4, '23:00', 1, 1, 0, 1, 1, 1, 0, 6, 1]
['2018-04-08', '2018-06-06', 38, 464, 8, 2, '13:00', 0, 1, 0, 1, 1, 1, 0, 0, 1]
['2018-03-23', '2018-06-04', 85, 46, 1, 477, '14:00', 0, 0, 1, 0, 1, 0, 0, 2, 1]
['2018-03-26', '2018-04-21', 25, 437, 0, 105, '13:00', 0, 0, 0, 0, 1, 0, 1, 7, 0]
['2018-03-21', '2018-05-31', 79, 438, 5, 484, '13:00', 1, 0, 1, 0, 1, 1, 1, 10, 0]
['2018-04-02', '2018-06-13', 26, 26, 8, 94, '14:00', 1, 0, 1, 1, 1, 1, 1, 7, 0]
['2018-04-13', '2018-07-17', 85, 432, 9, 380, '16:00', 1, 0, 1, 0, 0, 1, 1, 3, 1]
['2018-04-04', '2018-05-29', 43, 182, 3, 339, '15:00', 1, 1, 0, 0, 1, 1, 0, 7, 1]
['2018-03-30', '2018-04-22', 71, 467, 7, 99, '22:00', 0, 0, 0, 0, 0, 0, 1, 9, 0]
['2018-04-13', '2018-04-17', 74, 317, 4, 381, '11:00', 1, 1, 0, 1, 0, 1, 1, 6, 0]
['2018-03-26', '2018-06-27', 31, 211, 8, 216, '13:00', 1, 0, 1, 1, 1, 1, 0, 6, 1]
['2018-04-16', '2018-05-22', 33, 334, 7, 280, '13:00', 1, 0, 0, 0, 1, 0, 0, 3, 0]
['2018-03-30', '2018-06-12', 83, 469, 9, 441, '12:00', 0, 0, 0, 1, 0, 1, 1, 9, 1]
['2018-04-15', '2018-05-13', 46, 260, 1, 218, '14:00', 0, 0, 0, 0, 1, 0, 1, 7, 0]
['2018-04-08', '2018-04-30', 40, 285, 0, 283, '14:00', 1, 1, 0, 0, 1, 1, 0, 7, 1]
['2018-03-22', '2018-06-18', 48, 40, 7, 79, '16:00', 1, 1, 0, 1, 0, 0, 1, 7, 0]
['2018-03-25', '2018-05-12', 70, 297, 4, 394, '11:00', 0, 0, 0, 0, 1, 0, 1, 10, 1]
['2018-04-08', '2018-05-24', 66, 245, 2, 54, '22:00', 0, 0, 0, 1, 0, 0, 1, 3, 0]
['2018-04-06', '2018-06-18', 38, 15, 1, 200, '12:00', 1, 0, 0, 1, 1, 1, 0, 7, 0]
['2018-04-09', '2018-05-26', 73, 90, 1, 137, '12:00', 1, 1, 1, 0, 0, 1, 1, 5, 1]
['2018-03-19', '2018-06-22', 32, 396, 0, 200, '14:00', 1, 0, 1, 1, 0, 1, 0, 10, 0]
['2018-04-10', '2018-04-15', 61, 144, 6, 53, '11:00', 0, 1, 0, 1, 1, 1, 0, 0, 1]
['2018-03-24', '2018-06-11', 61, 466, 9, 54, '22:00', 0, 0, 0, 1, 0, 0, 1, 0, 0]
['2018-03-20', '2018-06-17', 48, 56, 5, 268, '22:00', 1, 1, 0, 1, 1, 1, 1, 1, 1]
['2018-04-16', '2018-05-29', 98, 211, 2, 186, '12:00', 0, 1, 1, 0, 0, 0, 0, 10, 1]
['2018-04-12', '2018-04-14', 27, 303, 5, 86, '13:00', 1, 1, 0, 0, 0, 1, 1, 5, 0]
['2018-04-15', '2018-07-10', 32, 411, 7, 420, '12:00', 1, 1, 0, 0, 0, 0, 1, 2, 1]
['2018-03-20', '2018-05-20', 38, 258, 5, 29, '14:00', 1, 1, 1, 0, 0, 1, 1, 5, 0]
['2018-04-17', '2018-05-19', 90, 51, 9, 216, '22:00', 0, 1, 0, 0, 1, 0, 1, 5, 1]
['2018-03-31', '2018-04-12', 77, 107, 5, 158, '14:00', 1, 1, 0, 1, 1, 1, 0, 0, 1]
['2018-04-05', '2018-05-25', 42, 352, 4, 23, '16:00', 0, 1, 1, 1, 1, 1, 0, 9, 0]
['2018-04-16', '2018-06-30', 34, 474, 7, 476, '11:00', 0, 1, 0, 0, 0, 0, 0, 7, 0]
['2018-04-07', '2018-04-29', 32, 246, 1, 300, '13:00', 0, 0, 1, 1, 0, 1, 0, 1, 1]
['2018-04-15', '2018-05-28', 47, 293, 6, 177, '13:00', 0, 0, 0, 0, 1, 1, 1, 0, 1]
['2018-03-24', '2018-05-05', 40, 182, 8, 213, '23:00', 0, 0, 0, 0, 1, 1, 0, 6, 0]
['2018-04-14', '2018-04-26', 24, 41, 2, 365, '14:00', 0, 1, 1, 1, 1, 0, 1, 1, 1]
['2018-03-27', '2018-06-21', 0, 10000, 100, 10000, '23:00', 0, 1, 1, 1, 0, 1, 1, 3, 1]
['2018-03-26', '2018-05-18', 82, 479, 3, 203, '13:00', 0, 1, 1, 0, 0, 0, 0, 2, 0]
['2018-03-28', '2018-05-24', 30, 496, 3, 251, '12:00', 1, 0, 1, 0, 1, 1, 1, 8, 1]
['2018-04-11', '2018-04-26', 74, 350, 3, 350, '12:00', 1, 0, 1, 0, 0, 1, 1, 0, 1]
['2018-04-09', '2018-05-16', 21, 472, 4, 63, '15:00', 1, 1, 1, 0, 0, 1, 1, 4, 0]
['2018-03-24', '2018-05-28', 78, 349, 1, 191, '16:00', 0, 0, 0, 1, 0, 1, 0, 7, 0]
['2018-03-26', '2018-04-11', 26, 483, 3, 420, '22:00', 0, 0, 1, 0, 0, 0, 1, 10, 1]
['2018-03-23', '2018-03-24', 25, 134, 8, 485, '22:00', 1, 1, 0, 0, 1, 0, 1, 7, 1]
['2018-04-10', '2018-04-26', 62, 41, 1, 87, '15:00', 0, 0, 0, 1, 0, 1, 1, 3, 0]
['2018-03-30', '2018-05-11', 34, 480, 6, 201, '13:00', 1, 1, 1, 0, 1, 0, 1, 4, 0]
['2018-03-24', '2018-05-03', 20, 322, 2, 351, '12:00', 1, 0, 1, 1, 0, 0, 0, 3, 1]
['2018-04-01', '2018-07-04', 64, 174, 1, 321, '22:00', 0, 1, 0, 1, 1, 1, 0, 2, 1]
['2018-03-27', '2018-04-22', 94, 62, 2, 396, '12:00', 0, 1, 0, 1, 0, 1, 1, 4, 1]
['2018-04-04', '2018-06-07', 84, 189, 3, 339, '16:00', 1, 0, 0, 0, 0, 0, 1, 8, 1]

Date_of_Birth

In [ ]:
year = random.randint(1930, 1999)
month = random.randint(1, 12)
if month in [1, 3, 5, 7, 8, 10, 12]:
    day = random.randint(1, 31)
elif month == 2:
    day = random.randint(1, 28)
else:
    day = random.randint(1, 30)
        
birth_date = date(year, month, day)
print birth_date

'''Age according to random birth date'''

age = 2018 - year
print age