In [2]:
import psycopg2
import sys
from datetime import datetime
from datetime import timedelta
from datetime import date
import random

Crud

In [5]:
con = None

try:
    con = psycopg2.connect("host = 'localhost' dbname='postgres' user = 'postgres'  password = 'postgres'")
    cur = con.cursor()
#     cur.execute("CREATE TABLE Persons(Username varchar(40), Name varchar(40), Surame varchar(40),Password varchar(40), Date_of_Birth varchar(40), Days_of_Reservation integer)")
#     cur.execute("CREATE TABLE Room(Id_Room integer, Location varchar(40), Available_From_Date varchar(40),Available_Till_Date varchar(40), Area integer, Price integer, People_Capacity integer, Plus_Person_Price integer, Arrival_Time varchar(40), Single integer, Sofa integer, Double_Bed integer, King_Size integer, Pets boolean, Smoking boolean, Events boolean, Minimum_Days integer, Air_Condition boolean, Heating boolean, WiFi boolean, TV boolean, Elevator boolean, Parking boolean, Oving boolean)")
#     cur.execute("INSERT INTO Persons VALUES('than', 'thanasis', 'Kar', 5, 'thanos', '01/07/1988')")
#     cur.execute("DROP TABLE Persons")
#     cur.execute("DROP TABLE Room")
#     cur.execute("INSERT INTO Room VALUES(3, 'than', 'thanasis', 'Kar', 5)")
    con.commit()
except psycopg2.DatabaseError, e:
    if con:
        con.rollback()
        
    print 'Error %s' %e
    sys.exit(1)
    
# finally:
#     if con:
#         con.close()

Database Selects

In [ ]:
cur = con.cursor()
# cur.execute("""SELECT * from Persons""")
cur.execute("""SELECT * from Room""")

rows = cur.fetchall()
print "\nRows: \n"
for row in rows:
    print row

Create Rules

In [ ]:
#pinakas Rules
import numpy as np
n = 6000                   #arithmos eggrafwn
for j in range(1,n):
    for i in range(1,4):        #gia ta Pets, Smoking, Events
        if i%200 != 0:
            print np.random.binomial(n=1, p= 0.5)
        elif i%26 == 0:
            print " "
        else:
            print '2'   
    print np.random.randint(0, 11)        #gia to Minimum_Dates

Create Price, Plus_Person_Price

In [ ]:
# pinakas Room, column Price and Plus_person_price
for i in range (1,n+1):
    if i%46 != 0:
        print np.random.randint(0, 500)
    elif i%10 == 2:
        print " "
    else:
        print 10000

People_capacity

In [ ]:
#for room, column people_capacity
for i in range (1,n+1):
    if i%46 != 0:
        print np.random.randint(0, 10)
    elif i%100 == 2:
        print " "
    else:
        print 100

Area

In [ ]:
#for room, column Area
for i in range (1,n+1):
    if i%46 != 0:
        print np.random.randint(20, 100)
    elif i%100 == 2:
        print " "
    else:
        print 0

Beds

In [ ]:
for j in range(1,n+1):
    for i in range(1,5):        #gia ta bed types
        if i%200 != 0:
            print np.random.binomial(size=1, n=1, p= 0.5)
        elif i%26 == 0:
            print " "
        else:
            print '20'

Date_of_Birth

In [ ]:
year = random.randint(1930, 1999)
month = random.randint(1, 12)
if month in [1, 3, 5, 7, 8, 10, 12]:
    day = random.randint(1, 31)
elif month == 2:
    day = random.randint(1, 28)
else:
    day = random.randint(1, 30)
        
birth_date = date(year, month, day)
print birth_date

'''Age according to random birth date'''

age = 2018 - year
print age

Available_from_Date, Available_till_Date

In [ ]:
'''Availlable from date till date'''
 
now = datetime.now().date()

diff = timedelta(days=random.randint(1, 30))
diff2 = timedelta(days=random.randint(1, 100))

from_date = now + diff
till_date = from_date + diff2
print from_date
print till_date

Arrival_Time

In [ ]:
'''Arrival time'''

arrivals = ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '23:00', '22:00']
arrival_time = arrivals[random.randint(1, len(arrivals))]
print arrival_time