In [90]:
import psycopg2
import sys
from datetime import datetime
from datetime import timedelta
from datetime import date
import random
import numpy as np
import csv

In [91]:
now = datetime.now().date()
arrivals = ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '23:00', '22:00']

Crud

In [5]:
con = None

try:
    con = psycopg2.connect("host = 'localhost' dbname='postgres' user = 'postgres'  password = 'postgres'")
    cur = con.cursor()
#     cur.execute("CREATE TABLE Persons(Username varchar(40), Name varchar(40), Surame varchar(40),Password varchar(40), Date_of_Birth varchar(40), Age integer, Days_of_Reservation integer)")
#     cur.execute("CREATE TABLE Room(Id_Room integer, Location varchar(40), Available_From_Date varchar(40),Available_Till_Date varchar(40), Area integer, Price integer, People_Capacity integer, Plus_Person_Price integer, Arrival_Time varchar(40), Single integer, Sofa integer, Double_Bed integer, King_Size integer, Pets boolean, Smoking boolean, Events boolean, Minimum_Days integer, Air_Condition boolean, Heating boolean, WiFi boolean, TV boolean, Elevator boolean, Parking boolean, Oving boolean)")
#     cur.execute("INSERT INTO Persons VALUES('than', 'thanasis', 'Kar', 5, 'thanos', '01/07/1988')")
#     cur.execute("DROP TABLE Persons")
#     cur.execute("DROP TABLE Room")
    con.commit()
except psycopg2.DatabaseError, e:
    if con:
        con.rollback()
        
    print 'Error %s' %e
    sys.exit(1)
    
# finally:
#     if con:
#         con.close()

Database Selects

In [ ]:
cur = con.cursor()
# cur.execute("""SELECT * from Persons""")
cur.execute("""SELECT * from Room""")

rows = cur.fetchall()
print "\nRows: \n"
for row in rows:
    print row

Create Rules

In [ ]:
Id_Room
Location 
Available_From_Date 
Available_Till_Date 
Area 
Price 
People_Capacity 
Plus_Person_Price 
Arrival_Time
Single Sofa, Double_Bed, King_Size, 
Pets Smoking, Events Minimum_Days, Air_Condition, Heating, WiFi, TV, Elevator, Parking, Oven

In [92]:
csvfile2 = open('/home/mscuser/Desktop/data-mining/BigDataMining2/CSV_Database_Of_First_And_Last_Names/GreekCities.csv', 'r')
creader2 = csv.reader(csvfile2, delimiter=',', quotechar='"')

In [94]:
n = 60     #arithmos eggrafwn

try:
    con = psycopg2.connect("host = 'localhost' dbname='postgres' user = 'postgres'  password = 'postgres'")
    cur = con.cursor()
#         cur.execute("CREATE TABLE Persons(Username varchar(40), Name varchar(40), Surame varchar(40),Password varchar(40), Date_of_Birth varchar(40), Age integer, Days_of_Reservation integer)")
    cur.execute("CREATE TABLE Room(Id_Room integer, Location varchar(40), Available_From_Date varchar(40),Available_Till_Date varchar(40), Area integer, Price integer, People_Capacity integer, Plus_Person_Price integer, Arrival_Time varchar(40), Single integer, Sofa integer, Double_Bed integer, King_Size integer, Pets integer, Smoking integer, Events integer, Minimum_Days integer, Air_Condition integer, Heating integer, WiFi integer, TV integer, Elevator integer, Parking integer, Oving integer)")
# #         cur.execute("INSERT INTO Room VALUES(t)")
#     #     cur.execute("DROP TABLE Persons")
#     #     cur.execute("DROP TABLE Room")
#         con.commit()


    for j, row in zip(range(n), creader2):

        room = []
        room.extend(row)
        # Available_From_Date, Available_Till_Date

        diff = timedelta(days=random.randint(1, 30))
        diff2 = timedelta(days=random.randint(1, 100))

        from_date = now + diff
        till_date = from_date + diff2
        room.append(str(from_date))
        room.append(str(till_date))

        # Area

        if j%46 != 0:
            area = np.random.randint(20, 100)
        elif j%100 == 2:
            area = " "
        else:
            area = 0
        room.append(area)

        # Price

        if j%46 != 0:
            price = np.random.randint(0, 500)
        elif j%10 == 2:
            price = " "
        else:
            price = 10000
        room.append(price)

        # People_Capacity
        if j%46 != 0:
            capacity = np.random.randint(0, 10)
        elif j%100 == 2:
            capacity = " "
        else:
            capacity = 100
        room.append(capacity)


        # Plus_Person_Price

        if j%46 != 0:
            plus_price = np.random.randint(0, 500)
        elif j%10 == 2:
            plus_price = " "
        else:
            plus_price = 10000
        room.append(plus_price)

        # Arrival_Time

        arrival_time = arrivals[random.randint(0, len(arrivals) - 1)]
        room.append(str(arrival_time))
        # Beds

        for i in range(1,5):        #gia ta bed types
            if i%200 != 0:
                beds = np.random.binomial(n=1, p= 0.5)
            elif i%26 == 0:
                beds = " "
            else:
                beds = '20'
            room.append(beds)


        # Rules

        for i in range(1,4):        #gia ta Pets, Smoking, Events
            if i%200 != 0:
                pse = np.random.binomial(n=1, p= 0.5)
            elif i%26 == 0:
                pse =' '
            else:
                pse = '2'
            room.append(pse)
        min_days= np.random.randint(0, 11)      #gia to Minimum_Days
        room.append(min_days)

        for i in range(1,8):      
            if i%200 != 0:
                facilities = np.random.binomial(n=1, p= 0.5)
            elif i%26 == 0:
                facilities = ' '
            else:
                facilities = '2'
            room.append(facilities)

        print room
        for k in room:
            cur.execute("INSERT into Room (Id_Room, Location, Available_From_Date,Available_Till_Date, Area, Price, People_Capacity, Plus_Person_Price , Arrival_Time, Single , Sofa , Double_Bed , King_Size, Pets, Smoking, Events, Minimum_Days, Air_Condition, Heating, WiFi, TV, Elevator, Parking, Oving) VALUES (NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", k)

        con.commit()
        print room

        #cur.execute("INSERT INTO Persons VALUES('than', 'thanasis', 'Kar', 5, 'thanos', '01/07/1988')")


except psycopg2.DatabaseError, e:
        if con:
            con.rollback()

        print 'Error %s' %e
        sys.exit(1)

['Nea Ionia', '2018-04-17', '2018-06-03', 0, 10000, 100, 10000, '13:00', 0, 1, 0, 1, 1, 1, 1, 5, 1, 0, 0, 0, 1, 0, 1]

IndexError: string index out of range

In [59]:
csvfile = open('/home/mscuser/Desktop/data-mining/BigDataMining2/CSV_Database_Of_First_And_Last_Names/PersonData.csv', 'r')
creader = csv.reader(csvfile, delimiter=',', quotechar='"')

for j, row in zip(range(n), creader):
    person = []
    person.extend(row)
    year = random.randint(1930, 2017)
    month = random.randint(1, 12)
    if month in [1, 3, 5, 7, 8, 10, 12]:
        day = random.randint(1, 31)
    elif month == 2:
        day = random.randint(1, 28)
    else:
        day = random.randint(1, 30)

    birth_date = date(year, month, day)
    person.append(str(birth_date))
    '''Age according to random birth date'''
    age = 2018 - year
    person.append(age)
    
    reservation = random.randint(1, 20)
    person.append(reservation)
    print person

['Aaberg', '', 'pP2RY?kw', 'AabergAaron', 'AaberAaron@gmail.com', '1982-10-21', 36, 11]
['Aaby', 'Aaron', 'y!dk4eKW', 'AabyAaron', 'AabyAaron@gmail.com', '1976-04-20', 42, 15]
['Aadland', 'Abbey', 'gh3Q@3Uy', 'AadlandAbbey', 'AadlaAbbey@gmail.com', '1942-06-16', 76, 1]
['', 'Abbie', '>2PJcXPE', 'AagaardAbbie', 'AagaaAbbie@gmail.com', '2001-12-27', 17, 14]
['Aakre', 'Abby', '!$GH#d>3', 'AakreAbby', 'AakreAbby@gmail.com', '2002-09-05', 16, 19]
['Aaland', 'Abdul', '2dSy^#35', 'AalandAbdul', 'AalanAbdul@gmail.com', '1974-05-06', 44, 12]
['Aalbers', 'Abe', '3M~E#4sd', 'AalbersAbe', 'AalbeAbe@gmail.com', '2008-10-17', 10, 15]
['Aalderink', 'Abel', 'gnTR$W3p', 'AalderinkAbel', 'AaldeAbel@gmail.com', '1961-02-20', 57, 14]
['Aalund', 'Abigail', 'sF+#KT76', 'AalundAbigail', 'AalunAbiga@gmail.com', '1934-05-22', 84, 5]
['Aamodt', 'Abraham', '&3R6cEVQ', 'AamodtAbraham', 'AamodAbrah@gmail.com', '2001-07-20', 17, 2]
['Aamot', 'Abram', 'SGaWY7K@', 'AamotAbram', 'AamotAbram@gmail.com', '1959-05-01', 59, 19]
['Aanderud', 'Ada', 'nfw>ZP82', 'AanderudAda', 'AandeAda@gmail.com', '1999-01-22', 19, 9]
['Aanenson', 'Adah', 'cM>2>tEc', 'AanensonAdah', 'AanenAdah@gmail.com', '1982-02-08', 36, 19]
['Aanerud', 'Adalberto', 'TL~E&NU4', 'AanerudAdalberto', 'AanerAdalb@gmail.com', '1969-08-24', 49, 11]
['Aarant', 'Adaline', 'P!+5c2Dd', 'AarantAdaline', 'AaranAdali@gmail.com', '1961-06-10', 57, 1]
['Aardema', 'Adam', '8%w2h#cA', 'AardemaAdam', 'AardeAdam@gmail.com', '1932-06-25', 86, 12]
['Aarestad', 'Adam', '%eZ7tKF6', 'AarestadAdam', 'AaresAdam@gmail.com', '1986-09-03', 32, 15]
['Aarhus', 'Adan', 'dmPVD#99', 'AarhusAdan', 'AarhuAdan@gmail.com', '1939-08-19', 79, 2]
['Aaron', 'Addie', 'Gs5~8EP~', 'AaronAddie', 'AaronAddie@gmail.com', '1967-10-05', 51, 2]
['Aarons', 'Adela', 'LVS@m$98', 'AaronsAdela', 'AaronAdela@gmail.com', '1939-08-08', 79, 13]
['Aaronson', '', 'xADvDu!6', 'AaronsonAdelaida', 'AaronAdela@gmail.com', '2008-09-08', 10, 10]
['Aarsvold', 'Adelaide', '#kH7nG4P', 'AarsvoldAdelaide', 'AarsvAdela@gmail.com', '2009-02-22', 9, 10]
['Aas', 'Adele', '6TaCkG~c', '', 'AasAdele@gmail.com', '2001-04-13', 17, 11]
['Aasby', 'Adelia', 'LL3N9%hz', 'AasbyAdelia', 'AasbyAdeli@gmail.com', '1977-08-21', 41, 12]
['Aase', 'Adelina', '^Xc^d!~3', 'AaseAdelina', 'AaseAdeli@gmail.com', '1951-02-10', 67, 9]
['Aasen', 'Adeline', 'Y6UQL+%!', 'AasenAdeline', 'AasenAdeli@gmail.com', '2012-04-11', 6, 20]
['Aavang', 'Adell', 'Y65RZx!&', 'AavangAdell', 'AavanAdell@gmail.com', '1958-05-24', 60, 10]
['Abad', 'Adella', 'CdF~Nx+5', 'AbadAdella', 'AbadAdell@gmail.com', '1975-03-30', 43, 9]
['Abadi', 'Adelle', 'L6epK!Jx', 'AbadiAdelle', 'AbadiAdell@gmail.com', '1960-03-11', 58, 11]
['Abadie', 'Adena', '!4A?q9Yc', 'AbadieAdena', 'AbadiAdena@gmail.com', '2016-05-28', 2, 18]
['Abair', 'Adina', 'cW7F#ABk', 'AbairAdina', 'AbairAdina@gmail.com', '1957-05-05', 61, 14]
['Abaja', 'Adolfo', '@VXef8%Y', 'AbajaAdolfo', 'AbajaAdolf@gmail.com', '2014-01-03', 4, 10]
['Abajian', 'Adolph', 'e$+RDN5M', 'AbajianAdolph', 'AbajiAdolp@gmail.com', '1952-06-25', 66, 3]
['Abalos', 'Adria', '&y9AD2d$', 'AbalosAdria', 'AbaloAdria@gmail.com', '2008-09-15', 10, 18]
['Abaloz', 'Adrian', 'W^Y83Zj!', 'AbalozAdrian', 'AbaloAdria@gmail.com', '1954-10-31', 64, 15]
['Abar', 'Adrian', 'E+%ZjcT3', 'AbarAdrian', 'AbarAdria@gmail.com', '1957-03-13', 61, 2]
['Abarca', 'Adriana', 'a$!&#72L', 'AbarcaAdriana', 'AbarcAdria@gmail.com', '1935-02-04', 83, 3]
['Abare', 'Adriane', 'L!y~YG4M', 'AbareAdriane', 'AbareAdria@gmail.com', '1958-08-10', 60, 9]
['Abascal', 'Adrianna', '>C!S^5H>', 'AbascalAdrianna', 'AbascAdria@gmail.com', '1948-04-21', 70, 20]
['Abasta', 'Adrianne', '9S9B>DSN', 'AbastaAdrianne', 'AbastAdria@gmail.com', '1985-06-02', 33, 4]
['Abate', 'Adrien', '>D92L^tS', 'AbateAdrien', 'AbateAdrie@gmail.com', '1938-03-03', 80, 11]
['Abati', 'Adriene', 'L@F5!xcy', 'AbatiAdriene', 'AbatiAdrie@gmail.com', '1947-04-16', 71, 9]
['Abatiell', 'Adrienne', '$RHEd4Kw', 'AbatiellAdrienne', 'AbatiAdrie@gmail.com', '1969-05-25', 49, 14]
['Abato', 'Afton', '?RY3B!2y', 'AbatoAfton', 'AbatoAfton@gmail.com', '1950-05-08', 68, 17]
['Abatti', 'Agatha', 'm@7?>JZ3', 'AbattiAgatha', 'AbattAgath@gmail.com', '1935-07-16', 83, 11]
['Abaunza', 'Agnes', 'r#2MM78>', 'AbaunzaAgnes', 'AbaunAgnes@gmail.com', '1964-01-18', 54, 14]
['Abaya', 'Agnus', 'T?%p?3KL', 'AbayaAgnus', 'AbayaAgnus@gmail.com', '1955-11-04', 63, 10]
['Abbadessa', 'Agripina', 'qj9ER>~c', 'AbbadessaAgripina', 'AbbadAgrip@gmail.com', '1961-01-14', 57, 16]
['Abbamonte', 'Agueda', 'AWW@4dbK', 'AbbamonteAgueda', 'AbbamAgued@gmail.com', '1985-12-24', 33, 13]
['Abbas', 'Agustin', 'G4RJyx#Y', 'AbbasAgustin', 'AbbasAgust@gmail.com', '1932-03-13', 86, 5]
['Abbasi', 'Agustina', 'H!n2>MrZ', 'AbbasiAgustina', 'AbbasAgust@gmail.com', '1984-10-24', 34, 11]
['Abbassi', 'Ahmad', 'Y4H2@h&9', 'AbbassiAhmad', 'AbbasAhmad@gmail.com', '2015-09-21', 3, 1]
['Abbate', 'Ahmed', '+$s86Kd6', 'AbbateAhmed', 'AbbatAhmed@gmail.com', '1954-07-31', 64, 1]
['Abbatiello', 'Ai', '7UXH^DLd', 'AbbatielloAi', 'AbbatAi@gmail.com', '1976-01-04', 42, 6]
['Abbay', 'Aida', 'rkL#XhN9', 'AbbayAida', 'AbbayAida@gmail.com', '1944-01-29', 74, 17]
['Abbe', 'Aide', 'CT6#8dtF', 'AbbeAide', 'AbbeAide@gmail.com', '1969-09-29', 49, 16]
['Abbed', 'Aiko', 'A@k4b%&5', 'AbbedAiko', 'AbbedAiko@gmail.com', '1990-12-18', 28, 1]
['Abbenante', 'Aileen', 'PJK!j2~#', 'AbbenanteAileen', 'AbbenAilee@gmail.com', '1951-11-23', 67, 18]
['Abbey', 'Ailene', '9U#v!TM&', 'AbbeyAilene', 'AbbeyAilen@gmail.com', '1972-03-06', 46, 10]
['Abbinanti', 'Aimee', 'RTTU6~$S', 'AbbinantiAimee', 'AbbinAimee@gmail.com', '1932-01-10', 86, 3]

Date_of_Birth

In [ ]:
year = random.randint(1930, 1999)
month = random.randint(1, 12)
if month in [1, 3, 5, 7, 8, 10, 12]:
    day = random.randint(1, 31)
elif month == 2:
    day = random.randint(1, 28)
else:
    day = random.randint(1, 30)
        
birth_date = date(year, month, day)
print birth_date

'''Age according to random birth date'''

age = 2018 - year
print age